@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #212121;
}

header {
  margin-top: 33px;
}

header .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header .logo {
  width: 151px;
}

header .header .logo img {
  width: 100%;
}

header .header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header ul li {
  margin: 0 15px;
  font-weight: 600;
}

header .header ul li:last-child {
  margin: 0 0 0 30px;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.container {
  max-width: 1346px;
  margin: 0 auto;
}

.title-description,
h2 {
  font-family: 'Poppins', sans-serif;
}

section {
  position: relative;
  padding: 100px 0;
}

section .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}

section .content .text {
  max-width: 606px;
}

section .content .text span {
  font-size: 20px;
  color: #646464;
  font-weight: 600;
}

section .content .text h1 {
  font-size: 72px;
  line-height: 78px;
}

section .content .text h2 {
  font-size: 48px;
  line-height: 57px;
}

section .content .text p {
  margin-top: 23px;
  color: #646464;
  font-size: 18px;
  line-height: 34px;
}

section .content .text p.bold-text {
  font-size: 48px;
  line-height: 57px;
  color: #212121;
  font-weight: 500;
}

section .content .image {
  width: 751px;
  max-width: 751px;
  border-radius: 140px 0 140px;
  position: relative;
}

section .content .image img {
  width: 100%;
  border-radius: 140px 0 140px;
}

section .content .image::before {
  content: "";
  position: absolute;
  right: -30px;
  bottom: -30px;
  z-index: -1;
  width: 100%;
  height: 100%;
  border: 5px solid #CAA892;
  border-radius: 140px 0 140px;
}

section .content.rtl {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  gap: 100px;
}

section .content.rtl .image::before {
  left: -30px;
  top: -30px;
}

section .bg-pattern {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: absolute;
  right: 0;
  bottom: -100px;
}

section:nth-child(even) .bg-pattern {
  right: auto;
  left: 0;
}

section.services {
  padding: 50px;
}

section.services .container span {
  font-size: 20px;
  color: #646464;
  font-weight: 600;
}

section.services .container h2 {
  font-size: 48px;
  line-height: 78px;
  font-weight: 500;
}

section.services .container .services-boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 37px;
  margin-top: 60px;
  position: relative;
}

section.services .container .services-boxes .service-box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40px auto;
      grid-template-columns: 40px auto;
  padding: 40px 22px;
  gap: 20px;
  border-radius: 60px 0 60px;
  -webkit-box-shadow: 4px 8px 20px 5px rgba(0, 0, 0, 0.14);
          box-shadow: 4px 8px 20px 5px rgba(0, 0, 0, 0.14);
}

section.services .container .services-boxes .service-box .icon img {
  width: 100%;
}

section.services .container .services-boxes .service-box h2 {
  font-size: 24px;
}

section.services .container .services-boxes .service-box p {
  font-size: 18px;
  color: #646464;
  line-height: 27px;
}

section.services .bg-pattern {
  bottom: -120px;
}

section.complete-work {
  margin-top: 100px;
  padding: 100px 0;
  background-color: #F8F8F8;
}

section.complete-work .content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section.complete-work .content .text {
  max-width: 100%;
  text-align: center;
}

section.complete-work .content .counters {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 50px;
}

section.complete-work .content .counters .counter-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 185px;
  height: 185px;
  border-radius: 40px 0 40px;
  background-color: #ffffff;
  -webkit-box-shadow: 4px 8px 20px 5px rgba(0, 0, 0, 0.14);
          box-shadow: 4px 8px 20px 5px rgba(0, 0, 0, 0.14);
  position: relative;
}

section.complete-work .content .counters .counter-box:nth-child(even) {
  margin-top: 92.5px;
}

section.complete-work .content .counters .counter-box p {
  font-size: 50px;
  font-weight: bold;
}

section.complete-work .content .counters .counter-box span {
  font-size: 18px;
  font-weight: 600;
}

section.testimonials .content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section.testimonials .content .text {
  max-width: 100%;
  text-align: center;
}

section.testimonials .content .test-boxes {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  position: relative;
}

section.testimonials .content .test-boxes .test-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.testimonials .content .test-boxes .test-box .test-img {
  min-width: 130px;
  max-width: 130px;
  min-height: 130px;
  max-height: 130px;
  border-radius: 40px 0 40px;
  position: relative;
  left: 65px;
}

section.testimonials .content .test-boxes .test-box .test-img img {
  width: 100%;
  height: 100%;
}

section.testimonials .content .test-boxes .test-box .test-text {
  width: calc(100% - 65px);
  padding: 41px 41px 41px 90px;
  border-radius: 70px 0 70px;
  height: 226px;
  -webkit-box-shadow: 4px 8px 20px 5px rgba(0, 0, 0, 0.14);
          box-shadow: 4px 8px 20px 5px rgba(0, 0, 0, 0.14);
}

section.testimonials .content .test-boxes .test-box .test-text p {
  font-size: 18px;
  line-height: 28px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

section.testimonials .content .test-boxes .test-box .test-text p.test-name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
}

section.testimonials .content .test-boxes .test-box .test-text p.test-name span {
  font-size: 16px;
  font-weight: 400;
}

section.testimonials .content .test-boxes .test-box .test-text p.test-name::before {
  content: "\"";
  position: absolute;
  font-size: 100px;
  line-height: 72px;
  color: #B0855B;
  right: 0;
}

section.blog {
  background-color: #F8F8F8;
}

section.blog .content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section.blog .content .text {
  width: 100%;
  text-align: center;
}

section.blog .content .blog-boxes {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 100px;
}

section.blog .content .blog-boxes .blog-box .blog-img {
  width: 100%;
  position: relative;
  display: block;
  border-radius: 140px 0 140px;
}

section.blog .content .blog-boxes .blog-box .blog-img img {
  width: 100%;
  border-radius: 140px 0 140px;
}

section.blog .content .blog-boxes .blog-box .blog-img::before {
  content: "";
  position: absolute;
  right: -20px;
  bottom: -20px;
  z-index: -1;
  width: 100%;
  height: 100%;
  border: 4px solid #CAA892;
  border-radius: 140px 0 140px;
}

section.blog .content .blog-boxes .blog-box .blog-text {
  font-size: 18px;
  line-height: 28px;
}

section.blog .content .blog-boxes .blog-box .blog-text p.blog-name {
  margin: 50px 0 15px;
  font-size: 30px;
  font-weight: 600;
}

section.newsletter .content {
  max-width: 772px;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section.newsletter .content h3 {
  font-size: 4vw;
  letter-spacing: 2px;
  position: relative;
  line-height: 80px;
}

section.newsletter .content h3::before {
  content: "";
  position: absolute;
  width: 70%;
  background: #C4C4C4;
  height: 1px;
  bottom: 0;
  left: 15%;
}

section.newsletter .content p {
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #646464;
}

section.newsletter .content form {
  width: 100%;
  text-align: center;
  position: relative;
}

section.newsletter .content form input {
  border: none;
  outline: none;
  font-size: 18px;
  background-color: #eeeeee;
  color: #646464;
  height: 50px;
  width: 100%;
  padding-left: 27px;
  padding-right: 180px;
  border-radius: 20px 0 20px;
}

section.newsletter .content form button {
  border: none;
  position: absolute;
  width: 180px;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0;
}

section.newsletter .content form button:hover {
  cursor: pointer;
}

footer {
  background-color: #F8F8F8;
}

footer .footer-cols {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 93px 0;
  gap: 37px;
}

footer .footer-cols > div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  line-height: 40px;
}

footer .footer-cols > div h3 {
  font-size: 24px;
}

footer .footer-cols > div a {
  display: inline-block;
  font-size: 18px;
}

footer .footer-cols > div:first-child p {
  line-height: 28px;
}

footer .footer-cols > div:last-child a {
  background-color: #D5D5D5;
  width: 37px;
  height: 37px;
  text-align: center;
  line-height: 43px;
  border-radius: 50%;
}

footer .footer-cols > div:last-child a:not(:last-child) {
  margin-right: 8px;
}

footer .footer-cols > div:last-child a:hover {
  background-color: #37806B;
}

footer .footer-cols > div:last-child a img {
  width: 18px;
}

footer .copyright {
  border-top: 1px solid #C4C4C4;
}

footer .copyright p {
  line-height: 45px;
  text-align: center;
  font-size: 18px;
}

footer .copyright p a {
  color: #37806B;
}

.slide-arrows {
  position: absolute;
  top: -50px;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.slide-arrows span.arrow {
  width: 30px;
  height: 30px;
  -webkit-box-shadow: 4px 8px 20px 5px rgba(0, 0, 0, 0.14);
          box-shadow: 4px 8px 20px 5px rgba(0, 0, 0, 0.14);
  border-radius: 50%;
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slide-arrows span.arrow:hover {
  cursor: pointer;
}

.slide-arrows span.arrow.active {
  background-color: #37806B;
  color: #ffffff !important;
}

.active {
  color: #646464;
}

.btn {
  background-color: #37806B;
  color: #ffffff;
  padding: 12px 28px;
  display: inline-block;
  border-radius: 20px 0 20px;
  margin-top: 46px;
  font-weight: bold;
  font-size: 18px;
}

.btn-sing {
  background-color: #CAA892;
  padding: 5px 19px;
  border-radius: 15px 0 15px;
  margin: 0;
  font-weight: 600;
  font-size: 16px;
}
/*# sourceMappingURL=main.css.map */