header{
    margin-top: 33px;

    .header{
        @include align(space-between);

        .logo{
            width: 151px;

            img{
                width: 100%;
            }
        }

        ul{
            display: flex;
            align-items: center;

            li{
                margin: 0 15px;
                font-weight: 600;

                &:last-child{
                    margin: 0 0 0 30px;                    
                }
                
            }
        }
    }
}