header{
    margin-top: 33px;

    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo{
            width: 151px;

            img{
                width: 100%;
            }
        }

        ul{
            display: flex;

            li{
                margin: 0 15px;

                &:last-child{
                    margin: 0 0 0 30px;

                    a{
                        background-color: $main-clr;
                        color: $white-clr;
                        padding: 6px 15px;
                        border-radius: 15px 0 15px;
                    }
                }
                
            }
        }
    }
}